<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
      {{ else }}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span
          ><a href="https://beian.miit.gov.cn">苏ICP备19072419号-1</a> © {{ now.Year }} 技术支持
          <a href="https://github.com/xqk" target="_blank" rel="noopener">xqk</a></span
        >
      </div>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>

{{- partial "extended_footer.html" . }}
